
body{
font-family: Arial;
background:#f4f4f4;
text-align:center;
margin:0;
}

.contenedor{
margin-top:60px;
}

input{
display:block;
margin:10px auto;
padding:8px;
width:250px;
}

button{
padding:10px 15px;
margin:10px;
cursor:pointer;
border:none;
background:#333;
color:white;
border-radius:5px;
}

button:hover{
background:#555;
}

.oculto{
display:none;
}

.servicios{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:20px;
}

.tarjeta{
background:white;
width:250px;
padding:15px;
border-radius:10px;
box-shadow:0 4px 8px rgba(0,0,0,0.2);
cursor:pointer;
transition:0.3s;
}

.tarjeta:hover{
transform:scale(1.05);
}

.tarjeta img{
width:100%;
height:150px;
background:#ddd;
border-radius:8px;
margin-bottom:10px;
}

.seleccionado{
border:3px solid green;
}
