body{
font-family:Arial;
background:#111;
color:white;
text-align:center;
}

button{
padding:10px;
margin:5px;
cursor:pointer;
}

.tarjeta{
border:1px solid white;
padding:10px;
margin:10px;
display:inline-block;
width:200px;
cursor:pointer;
}

.lleno{
background:red;
}

.oculto{
display:none;
}
